@import "../../../assets/css/var-colors.css";


--opacity80: rgba(0, 0, 0, 0.8);
/*------------------------------------------------------------------------------
	@BROWSER FIXES CSS
  
  -- @see {@link https://sarahmhigley.com/writing/whcm-quick-tips/}
  a. Windows High Contrast Mode ignores border, background color changes and box shadows. :focus styles are invisible in WCHM. Use these styles if the default CSS outline property doesn't give you the visual effect you want for focus states.   
   
  -- @see {@link https://github.com/csstools/sanitize.css/blob/main/sanitize.css}
  b. Remove the margin on controls in Safari. 
  c. Correct the inability to style buttons in iOS and Safari. 

  -- @see {@link https://github.com/necolas/normalize.css/blob/master/normalize.css}
  d. Remove the inner border and padding in Firefox. 
  e. Restore the focus styles unset by the previous rule. 

  -- @see {@link https://web.dev/articles/style-focus}
  f. Hides the focus indicator if the element receives focus via the mouse, but it will still show up on keyboard focus.
  g. Adds focus ring with keyboard navigation only. If you choose to skip this step, then the browser's default focus indicator will be displayed instead.
  h. Add the correct vertical alignment in Chrome, Edge, and Firefox.

  -- @see {@link https://github.com/csstools/sanitize.css/blob/main/assets.css}
  i. Restrict sizing to the page width in all browsers (opinionated).

  -- @see {@link https://github.com/csstools/sanitize.css/blob/main/reduce-motion.css}
  j. Remove animations when motion is reduced (opinionated).
  k. Remove fixed background attachments when motion is reduced (opinionated).
  l. Remove timed scrolling behaviors when motion is reduced (opinionated).
  m. Remove transitions when motion is reduced (opinionated).
------------------------------------------------------------------------------*/
*:focus {
  outline: 3px solid transparent; /* a */
}

:where(button) {
  margin: 0; /* b */
}

:where(button, [role="button"], .Btn) {
  -webkit-appearance: button; /* c */
}

button::-moz-focus-inner,
[role="button"]::-moz-focus-inner,
.Btn::-moz-focus-inner {
  /* d */
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[role="button"]:-moz-focusring,
.Btn:-moz-focusring {
  /* e */
  // outline: 1px dotted ButtonText;
}

button:focus:not(:focus-visible),
[role="button"]:focus:not(:focus-visible),
.Btn:focus:not(:focus-visible) {
  /* f */
  // outline: none;
  // outline: 1px dotted;
  // outline: 3px auto -webkit-focus-ring-color;
  // outline-offset: -3px;
}

button:focus-visible,
[role="button"]:focus-visible,
.Btn:focus-visible {
  outline: 2px dotted red; /* g */
  outline-offset: -2px;
}

:where(progress) {
  vertical-align: baseline; /* h */
}

:where(iframe, img, video) {
  /* i */
  height: auto;
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important; /* j */
    animation-duration: 1ms !important; /* j */
    animation-iteration-count: 1 !important; /* j */
    background-attachment: initial !important; /* k */
    scroll-behavior: auto !important; /* l */
    transition-delay: 0s !important; /* m */
    transition-duration: 0s !important; /* m */
  }
}
:is(.Color-white) {
  color: var(--color-white);
}

/**
  iOS specific
@see {@link https://github.com/videojs/video.js/issues/6907}
*/
@media screen and (display-mode: fullscreen) {
  video::-webkit-media-text-track-display {
    font-size: 6.25em;
  }
}
video::-webkit-media-text-track-display:fullscreen {
  font-size: 6.25em;
}
@media (orientation: portrait) {
  video::cue {
    color: var(--color-primary0);
  }
}

/**
    @WEBKIT MEDIA CONTROLS 

    @see {@link https://opensource.apple.com/source/WebCore/WebCore-7602.2.14.0.5/css/mediaControls.css.auto.html}

*/

body:-webkit-full-page-media {
  background-color: var(--color-neutral4);
}

::-webkit-media-controls {
  inline-size: inherit;
  block-size: inherit;
  position: relative;
  display: flex !important;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
}

video::-webkit-media-controls-panel {
  display: flex;
  direction: ltr;
  flex-direction: row;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  bottom: 0;
  inline-size: 100%;
  z-index: 0;
  overflow: hidden;
  block-size: 1em;
  text-align: right;
}

video:-webkit-full-page-media {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

video:-webkit-full-page-media::-webkit-media-controls-panel {
  bottom: 0px;
}

video::-webkit-media-controls-mute-button {
  -webkit-appearance: media-mute-button;
  appearance: media-mute-button;
  display: flex;
  inline-size: 1em;
  block-size: 1em;
  background-color: initial;
  border: initial;
  color: inherit;
}

video::-webkit-media-controls-overlay-play-button {
  display: none;
}

video::-webkit-media-controls-play-button {
  -webkit-appearance: media-play-button;
  appearance: media-play-button;
  display: flex;
  inline-size: 1em;
  block-size: 1em;
  background-color: initial;
  border: initial;
  color: inherit;
}

video::-webkit-media-controls-timeline-container {
  -webkit-appearance: media-controls-background;
  appearance: media-controls-background;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1;
  -webkit-user-select: none;
  user-select: none;
  block-size: 1em;
  min-inline-size: 0;
}

video::-webkit-media-controls-current-time-display {
  display: none;
}

video::-webkit-media-controls-time-remaining-display {
  display: none;
}

video::-webkit-media-controls-timeline {
  -webkit-appearance: media-slider;
  appearance: media-slider;
  display: flex;
  flex: 1 1;
  block-size: 1em;
  padding: 0rem 0.125rem;
  background-color: initial;
  border: initial;
  color: inherit;
  margin: initial;
  min-inline-size: 0;
}

video::-webkit-media-controls-volume-slider {
  background-color: initial !important;
  border: initial !important;
  color: inherit !important;
  margin: initial !important;
}

video::-webkit-media-controls-seek-back-button {
  -webkit-appearance: media-seek-back-button;
  appearance: media-seek-back-button;
  display: flex;
  inline-size: 1em;
  block-size: 1em;
  background-color: initial;
  border: initial;
  color: inherit;
}

video::-webkit-media-controls-seek-forward-button {
  -webkit-appearance: media-seek-forward-button;
  appearance: media-seek-forward-button;
  display: flex;
  inline-size: 1em;
  block-size: 1em;
  background-color: initial;
  border: initial;
  color: inherit;
}

video::-webkit-media-controls-fullscreen-button {
  -webkit-appearance: media-enter-fullscreen-button;
  appearance: media-enter-fullscreen-button;
  display: flex;
  inline-size: 1em;
  block-size: 1em;
  background-color: initial;
  border: initial;
  color: inherit;
}

video::-webkit-media-controls-rewind-button {
  display: none;
  background-color: initial;
  border: initial;
  color: inherit;
}

video::-webkit-media-controls-return-to-realtime-button {
  display: none;
  background-color: initial;
  border: initial;
  color: inherit;
}

video::-webkit-media-controls-toggle-closed-captions-button {
  -webkit-appearance: media-toggle-closed-captions-button;
  appearance: media-toggle-closed-captions-button;
  display: flex;
  inline-size: 1em;
  block-size: 1em;
  background-color: initial;
  border: initial;
  color: inherit;
}

video::-webkit-media-controls-closed-captions-container {
  display: none;
}

video::-webkit-media-controls-closed-captions-track-list {
  display: none;
}

video::-webkit-media-controls-volume-slider-mute-button {
  -webkit-appearance: media-volume-slider-mute-button !important;
  appearance: media-volume-slider-mute-button !important;
  display: none !important;
  background-color: initial !important;
  border: initial !important;
  color: inherit !important;
}

video::-webkit-media-controls-fullscreen-volume-slider {
  display: none;
}

video::-webkit-media-controls-fullscreen-volume-min-button {
  display: none;
}

video::-webkit-media-controls-fullscreen-volume-max-button {
  display: none;
}

video::-webkit-media-text-track-container {
  position: relative;
  inline-size: 100%;
  overflow: hidden;
  -webkit-padding-after: 0.3125rem;
  padding-block-end: 0.3125rem;
  text-align: center;
  color: var(--color-white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-decoration: none;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  word-break: break-word;
  flex: 1 1;
  -webkit-line-box-contain: block inline-box replaced;
}

video::cue {
  background-color: ;
}

video::-webkit-media-text-track-region {
  position: absolute;
  line-height: 5.33vh;
  -webkit-writing-mode: horizontal-tb;
  writing-mode: horizontal-tb;
  background: var(--opacity80);
  color: var(--color-white);
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
}

video::-webkit-media-text-track-region-container {
  position: relative;
  display: flex;
  flex-flow: column;
  flex-direction: column;
}

video::-webkit-media-text-track-region-container.scrolling {
  -webkit-transition: top 433ms linear;
  transition: top 433ms linear;
}

video::-webkit-media-text-track-display {
  position: absolute;
  overflow: hidden;
  white-space: pre-wrap;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-family: inherit, sans-serif;
  flex: 0 0 auto;
}

video::cue(:future) {
  color: gray;
}

video::-webkit-media-text-track-container b {
  font-weight: bold;
}

video::-webkit-media-text-track-container u {
  text-decoration: underline;
}

video::-webkit-media-text-track-container i {
  font-style: italic;
}

#videoPoster {
  display: block;
}
#videoPoster.hide {
  display: none;
  visibility: hidden;
}
#videoContainer {
  width: 100%;
  background: transparent;
}
.videoWrapper {
  position: relative;
  padding-bottom: 44.25%;
  //padding-top: 25px;
  height: 0;
}
.videoWrapper video {
  position: absolute;
  inset: 0 0 0 0;
  // top: 0;
  // left: 0;
  width: 100%;
  height: 100%;
}

.videoWrapper:hover #video-controls {
  opacity: 1;
}

#videoPoster {
  position: absolute;
  height: 100%;
  transition: all 0.92ms ease;
  width: 100%;
}
#video-controls {
  display: flex;
  background: var(--color-neutral4);
  opacity: 1;
  transition: opacity 0.35s cubic-bezier(0, 0, 0.4, 1);
  will-change: opacity;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 2.75em;
  position: relative;
}

/* controls */
.controls,
.controls > * {
  padding: 0;
  margin: 0;
}

.controls > div {
  display: flex;
  align-content: center;
  align-items: center;
  color: var(--color-white);
  padding: 0 0.8rem;
}

.controls[data-state="hidden"] {
  display: none;
}

.controls[data-state="visible"] {
  display: block;
}

div.progress {
  cursor: pointer;
  flex: 1;
  height: calc(100% / 4);
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}

.controls button:focus,
.controls button:hover {
  outline-style: solid;
  outline-width: thin;
}
.controls button:focus {
  outline-color: var(--color-accent0);
  outline-offset: -1px;
}
.controls button::-moz-focus-inner {
  border: 0;
}

.controls button[aria-label]:focus:after,
.controls button[aria-label]:hover:after {
  position: absolute;
  z-index: 1;
  top: -2em;
  left: 0;
  display: block;
  overflow: hidden;
  width: 17em;
  height: 2em;
  border-radius: 0.2em;
  padding: 0 0.7rem;
  content: attr(aria-label);
  color: var--color-white);
  background: var(--color-neutral4);
  font-size: 1rem;
  line-height: 2;
  text-align: left;
}

:is(.controls button):active {
  border-color: var(--color-neutral2);
  background-color: var(--color-black0);
  box-shadow: inset 0 3px 5px 1px var(--color-black1);
}

:is(.controls button) {
  display: inline-block;
  position: relative;
  padding: 0.4rem 0.7rem;
  width: 3em;
  height: 3em;
  cursor: pointer;
  background-color: var(--color-neutral2);
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
}
:is(.controls button):hover,
:is(.controls button):focus {
  // text-shadow: 0px 0px 10px var(--color-white);
  background-color: var(--color-white);
  transition: background-color 0.35s cubic-bezier(0, 0, 0.4, 1);
  // box-shadow: 0 0 0 0.25rem var(--color-accent0);
}
:is(.controls button):focus:not(:focus-visible)::before {
  border-color: #6cf;
}

.timeContainer {
  align-self: stretch;
}

.timeContainer > div {
  align-self: stretch;
  align-items: center;
  display: flex;
}

#videoCurrentTime {
  color: var(--color-white);
}

#videoCurrentTime + span {
  margin-inline: 0.4rem;
}

#videoCurrentTime + span,
#videoDuration {
  opacity: 0.5;
}

.controls progress {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
  border-radius: 0.25em;
  color: var(--color-primary0);
  /* Internet Explorer uses this value as the progress bar's value colour */
}

.controls progress span {
  width: 0%;
  height: 100%;
  display: inline-block;
  background-color: #2a84cd;
}

.controls progress::-moz-progress-bar {
  background-color: var(--color-primary0);
}

/* Chrome requires its own rule for this, otherwise it ignores it */
.controls progress::-webkit-progress-value {
  background-color: var(--color-primary0);
}

/* subtitles menu */
.subtitles-menu {
  display: none;
  position: absolute;
  bottom: 14.8%;
  right: 1.25em;
  background: var(--color-neutral3);
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 6.25em;
  padding: 0.625rem;
}
.subtitles-menu li {
  padding: 0;
  text-align: center;
}
.subtitles-menu li button {
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  width: 90%;
  padding: 0.125rem 0.25rem;
  border-radius: 0.125em;
}

/* WebVTT cues */
::cue {
  color: var(--color-gray0);
}
::cue(v[voice="Test"]) {
  color: #var(--color-white);
  background: #0095dd;
}
// #videoDuration {
//   width: 7.667%;
//   display: flex;
// }
@media screen and (max-width: 42.5em) {
  .controls {
    height: auto;
  }

  .controls .progress,
  .progress {
    /*display:table-caption;*/ /* this trick doesn't work as elements are floated and the layout doesn't work */
    /*   position: absolute;
    top: 0; */
    width: 100%;
    /*  float: none;
    margin-top: 0; */
  }
  .controls button {
    background-position: center center;
  }
}

@media screen and (max-width: 20em) {
  .controls {
    height: 6vw;
  }
}

:fullscreen #videoContainer {
  width: 100%;
  height: 100%;
}

:fullscreen .videoWrapper {
  padding-bottom: 0;
  background-color: var(--color-neutral4);
  height: 100%;
  width: 100%;
}

:fullscreen #video-controls {
  margin-inline: 0;
  background: var(--color-neutral4);;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.controls progress[data-state="fake"],
progress[data-state="fake"] {
  background: var(--color-neutral0);
  height: 65%;
}

input[type="range"] {
  --val: 50;
  --pos: calc(1.25em + var(--val) * (17.5em) / 100);
  -webkit-appearance: none;
  margin: -0.5rem -2.75rem;
  padding: 0.5rem 2.75rem;
  border-radius: 0.75em;
  background: transparent;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 1em;
  border-radius: 1em;
  box-shadow: 0 1px #4e4f51, inset 0 0 0 0.125em var(--color-neutral4);
  background: linear-gradient(
    to right,
    cyan var(--pos),
    transparent 0,
    #171717 50%,
    #171717 100%
  );
  // background: linear-gradient(90deg, cyan var(--pos), transparent 0), linear-gradient(#050505, #2d2e30 70%, #171717);
}
input[type="range"]::-moz-range-track {
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 1em;
  border-radius: 1em;
  box-shadow: 0 1px #4e4f51, inset 0 0 0 0.125em #000;
  background: linear-gradient(#050505, #2d2e30 70%, #171717);
}
.js input[type="range"]::-moz-range-track {
  background: linear-gradient(
        #105adf 1px,
        rgba(16, 90, 223, 0.01) 2px,
        rgba(16, 90, 223, 0.01) calc(100% - 2px),
        #105adf calc(100% - 1px)
      )
      0 / var(--pos) 100% no-repeat,
    linear-gradient(90deg, cyan var(--pos), transparent 0),
    linear-gradient(#050505, #2d2e30 70%, #171717);
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -0.75rem;
  box-sizing: border-box;
  border: solid 1px #74787b;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  box-shadow: 0 0.25em 0.25em #070709, 0 0.125em 0.375em #070709;
  background: gold;
  cursor: resize-ew;
}

input[type="range"]::-moz-range-thumb {
  box-sizing: border-box;
  border: solid 1px #74787b;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  box-shadow: 0 0.25em 0.25em #070709, 0 0.125em 0.375em #070709;
  background: radial-gradient(circle at 25% 32%, #43474a, #191a1c);
  cursor: resize-ew;
}
input[type="range"]:focus {
  outline: solid 0 transparent;
  background: rgba(51, 51, 51, 0.2);
}

.controls button[data-state="play"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' focusable='false' aria-hidden='true' viewBox='0 0 48 48'%3E%3Cpath d='M48 0H0v48h48V0zM13.1 40.5v-33c8.5 5.6 16 10.6 24.8 16.5-8.5 5.7-16.1 10.7-24.8 16.5z'/%3E%3C/svg%3E");
}

.controls button[data-state="pause"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' focusable='false' aria-hidden='true' viewBox='0 0 48 48'%3E%3Cpath d='M48 0H0v48h48V0zM21.3 39.8H10.5V8.2h10.8v31.6zm16.2 0H26.7V8.2h10.8v31.6z'/%3E%3C/svg%3E");
}

.controls button[data-state="restart"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpolygon points='14.3 13 14.3 13.1 14.3 13 14.3 13' style='stroke-width: 0px;'/%3E%3Cpath d='m-.2-.4v48h48V-.4H-.2Zm34.8,35c-2.7,2.7-6.4,4.4-10.5,4.4s-4.4-.5-6.3-1.4c-1.9-.9-3.5-2.1-4.8-3.7,0,0,2.9-2.8,3.2-3.1.2.2.3.4.5.6,1.9,1.9,4.5,3.1,7.3,3.1s5.5-1.2,7.3-3.1c1.9-1.9,3-4.5,3-7.4s-1.2-5.5-3-7.4c-1.9-1.9-4.5-3.1-7.3-3.1s-4.7.9-6.5,2.3l2.8,2.2c.9.7.6,2.2-.5,2.3l-8.5,1.1c-.7,0-1.3-.4-1.4-1.1l-1-8.6c-.1-1.2,1.2-1.9,2.1-1.2l3.1,2.5s0,0,0,0c.5-.4,1.1-.9,1.6-1.3,2.4-1.7,5.3-2.7,8.4-2.7s7.8,1.7,10.5,4.4c2.7,2.7,4.3,6.5,4.3,10.6s-1.7,7.9-4.3,10.6Z' style='stroke-width: 0px;'/%3E%3C/svg%3E");
}

.controls button[data-state="mute"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' focusable='false' aria-hidden='true' viewBox='0 0 48 48'%3E%3Cpath d='M48 0H0v48h48V0zM26.9 35.6c0 .8-.4 1.4-1.1 1.8s-1.5.2-2.1-.3l-8.2-7.2h-4.1c-2.1 0-3.9-1.7-3.9-3.9v-3.9c0-2.1 1.7-3.9 3.9-3.9h4.1l8.2-7.2c.6-.5 1.4-.6 2.1-.3.7.3 1.1 1 1.1 1.8v23.1zm3.3-9c1-.5 1.6-1.5 1.6-2.6 0-.9-.4-1.7-1.1-2.2-.6-.5-.7-1.4-.2-2 .5-.6 1.4-.7 2.1-.2 1.3 1.1 2.1 2.7 2.1 4.5 0 1.8-.8 3.4-2.1 4.5-1.1.7-2.8 0-2.4-2zm6 6.4c-1 .8-2.7.1-2.4-1.8 2.3-1.6 3.8-4.2 3.8-7.1 0-2.7-1.3-5.1-3.2-6.7-.6-.5-.7-1.4-.2-2 .5-.6 1.4-.7 2.1-.2 2.6 2.1 4.3 5.4 4.3 9-.1 3.4-1.8 6.7-4.4 8.8z'/%3E%3C/svg%3E");
}

.controls button[data-state="unmute"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' focusable='false' aria-hidden='true' viewBox='0 0 48 48'%3E%3Cpath d='M48 0H0v48h48V0zM25.6 34.1c0 .7-.4 1.3-1 1.5-.6.3-1.3.2-1.8-.3l-7-6.3h-3.5C10.5 29 9 27.5 9 25.6v-3.4c0-1.6 1.1-3 2.6-3.3l13.9 11.2v4zM40.2 37c-.4.5-1.2.6-1.7.2L8 12.8c-.5-.4-.6-1.2-.2-1.8.4-.5 1.2-.6 1.7-.2l8.2 6.6 5.2-4.7c.5-.4 1.2-.6 1.8-.3s1 .9 1 1.5v9.8l3 2.4.2-.2c.6-.5.9-1.2.9-2s-.4-1.5-.9-2c-.5-.4-.6-1.2-.2-1.8.4-.5 1.2-.6 1.7-.2 1.1.9 1.8 2.3 1.8 3.9 0 1.5-.6 2.8-1.6 3.7l2 1.6c1.3-1.4 2.1-3.2 2.1-5.3 0-2.4-1.1-4.5-2.7-5.9-.5-.4-.6-1.2-.2-1.8.4-.5 1.2-.6 1.7-.2 2.2 1.9 3.7 4.7 3.7 7.9 0 2.7-1 5.1-2.6 6.9l5.5 4.4c.5.6.6 1.4.1 1.9z'/%3E%3C/svg%3E");
}

.controls button[data-state="enter-fullscreen"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' focusable='false' aria-hidden='true' viewBox='0 0 48 48'%3E%3Cpath d='M48 0H0v48h48V0zM24.1 30.5l-4.6 4.6 1.8 1.8c1 1 .9 2.7-.8 3.6h-13v-13c.9-1.7 2.7-1.8 3.6-.8l1.8 1.8 4.6-4.6c1-1 2.6-1 3.6 0l3 3c1.1.9 1.1 2.6 0 3.6zm16.4-10c-.9 1.7-2.7 1.8-3.6.8l-1.8-1.8-4.6 4.6c-1 1-2.6 1-3.6 0l-3-3c-1-1-1-2.6 0-3.6l4.6-4.6-1.8-1.8c-1-1-.9-2.7.8-3.6h13v13z'/%3E%3C/svg%3E");
}

.controls button[data-state="exit-fullscreen"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' focusable='false' aria-hidden='true' viewBox='0 0 48 48'%3E%3Cpath d='M48 0H0v48h48V0zM23.2 36.5c-.8 1.6-2.4 1.6-3.3.7l-1.6-1.6-4.2 4.2c-.9.9-2.4.9-3.3 0l-2.7-2.7c-.9-.9-.9-2.4 0-3.3l4.2-4.2-1.6-1.6c-.9-.9-.8-2.5.8-3.3h11.7v11.8zm16.6-22.4-4.2 4.2 1.6 1.6c.9.9.8 2.5-.7 3.3H24.8V11.5c.8-1.6 2.4-1.6 3.3-.7l1.6 1.6 4.2-4.2c.9-.9 2.4-.9 3.3 0l2.7 2.7c.8.9.8 2.3-.1 3.2z'/%3E%3C/svg%3E");
}

.controls button[data-state="subtitles"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' focusable='false' aria-hidden='true' viewBox='0 0 48 48'%3E%3Cpath d='M0 0v48h48V0H0zm21.3 30.8c-.7.9-1.6 1.7-2.7 2.1-1.1.5-2.5.7-4.1.7-2 0-3.7-.3-5-.9-1.3-.6-2.4-1.6-3.3-3.1-.9-1.5-1.4-3.4-1.4-5.7 0-3.1.8-5.4 2.5-7.1 1.6-1.7 4-2.5 7-2.5 2.3 0 4.2.5 5.5 1.4 1.3.9 2.3 2.4 3 4.4l-5.1 1.1c-.2-.6-.4-1-.6-1.2-.3-.4-.7-.8-1.2-1-.5-.2-1-.4-1.6-.4-1.3 0-2.3.5-3 1.6-.5.8-.8 2-.8 3.7 0 2.1.3 3.5.9 4.2.6.8 1.5 1.1 2.6 1.1s1.9-.3 2.5-.9c.6-.6 1-1.5 1.2-2.7l5 1.5c-.1 1.5-.6 2.7-1.4 3.7zm20.3 0c-.7.9-1.6 1.7-2.7 2.1-1.1.5-2.5.7-4.1.7-2 0-3.7-.3-5-.9-1.3-.6-2.4-1.6-3.3-3.1-.9-1.5-1.4-3.4-1.4-5.7 0-3.1.8-5.4 2.5-7.1 1.6-1.7 4-2.5 7-2.5 2.3 0 4.2.5 5.5 1.4 1.3.9 2.3 2.4 3 4.4L38 21.2c-.2-.6-.4-1-.6-1.2-.3-.4-.7-.8-1.2-1-.5-.2-1-.4-1.6-.4-1.3 0-2.3.5-3 1.6-.5.8-.8 2-.8 3.7 0 2.1.3 3.5.9 4.2.6.8 1.5 1.1 2.6 1.1s1.9-.3 2.5-.9c.6-.6 1-1.5 1.2-2.7l5 1.5c-.2 1.5-.7 2.7-1.4 3.7z'/%3E%3C/svg%3E");
}