:root {
	 --color-primary0: #00843D;
	 --color-primary1: #F5FAF7;
	 --color-primary2: #DCF0DD;
	 --color-primary3: #73B474;
	 --color-primary4: #014E25;
	 --color-accent0: #F9C22B;
	 --color-accent1: #FDF2D2;
	 --color-accent2: #E4CC87;
	 --color-accent3: #E2AE3D;
	 --color-neutral0: #EEEEEE;
	 --color-neutral1: #D1D1D1;
	 --color-neutral2: #949494;
	 --color-neutral3: #605F60;
	 --color-neutral4: #2A2926;
	 --color-gray0: #ccc;
	 --color-gray1: #f5f5f5;
	 --color-white: #fff;
}
